@import url('https://fonts.googleapis.com/css?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    outline:none ;
    box-sizing: border-box;
}
::before,::after
{
    box-sizing: border-box;
}
ul{
    list-style: none;

}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    padding: 0 30px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container
{
    max-width: 1100px;
    width: 100%;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
/* aside */

.aside
{
width: 270px;
background: var(--bg-black-100);
position: fixed;
left: 0;
top: 0;
padding: 30px;
height: 100%;
border-right: 1px solid var(--bg-black-50);
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
}
.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
 text-transform: capitalize;
}
.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;

}
.aside .logo a span{
    font-family: 'Clicker Script',cursive;
    font-family: 40px;
}
.aside .logo a ::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.aside .logo a ::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-900);
    display: none;
    align-items: center;
    justify-content: center;
}
.aside .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav
{
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .nav li a.active{
    color: var(--skin-color);
}
.aside .nav li a i{
    margin-right: 15px;
}
/* home */
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241,241,241);
    display: flex;
    align-items: left ;
    gap: 7em;
    padding: 50px 25% 0;

}
.home-content{
    max-width: 80px ;
}

.home-contact h3{
    font-size: 33px;
    margin-top: 100px;
}
.home-contact h1 span 
{
    font-family: 'Clicker Script',cursive;
    font-size: 30px;
    color: var(--skin-color);
}

.home-contact h1{
    font-size: 33px;
    line-height: 1.2;
}
.home-contact h2{
    font-size: 33px;
    line-height: 1.2;
}
.home-contact h2 span 
{
    font-family: 'Clicker Script',cursive;
    font-size: 30px;
    color: var(--skin-color);
}
.home-contact p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}

.btn-2{
    padding: 20px 28px;
    background-color:var(--skin-color) ;
    color: white;
    border: 2px solid var(--skin-color);
    border-radius: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;

}
.btn-2:hover{
    background-color: white;
    color: var(--skin-color);
}
.img-box img{
    margin-top: 50px;
    border-radius: 60%;
    width: 400px;
    height: 300px;
    box-shadow: 0 0 25px var(--skin-color) ;
    box-shadow: 0 0 25px var(--skin-color);
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg-black-50);

}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;

}
.footer .social a{
    font-size: 24px;
    color: var(--text-black-700);
    border: 2px solid var(--skin-color) ;
    width: 40px;
    height: 40px;line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px var(--skin-color) ,0 0 10px var(--skin-color) ;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    color: var(--skin-color) ;
    border: 2px solid var(--skin-color) ;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: var(--text-black-700);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;

}
.footer ul li a:hover{
    border-bottom: 3px solid var(--skin-color) ;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: var(--text-black-700);
}


